h1 {
  background-color: pink;
}

nav {
  height: 50px;
  background-color: navy;
  color: white;
}

.row {
  margin: 10px 30px 0px 30px;
  display: flex;
}

.box {
  height: 100px;
  flex: 1 20px;
  text-align: center;
  margin-right: 10px;
  padding-top: 5px;
}

.box1 {
  background-color: green;
}

.box2 {
  background-color: gray;
}

.box3 {
  background-color: purple;
}

.box4 {
  background-color: lightblue;
}

.box5 {
  background-color: black;
  color: white;
}

.box6 {
  background-color: orange;
}
